/*
#000000 (preto)
#FA255E (vermelho)
#C39EA0 (marrom claro)
#C39EA0 (antigo1)
#F8E5E5 (antigo2)
#F8E5E5 (marrom mais claro)*/


/*Estou usando esse CSS pros bagulhos, nao deletar. (Juninho)*/

.icones{
  border-radius: 0 0.4em 0.4em 0;
  border: 0.2em solid black;
  background-image: linear-gradient(to bottom right, #C39EA0, #F8E5E5);
  color: black;
}


select, textarea, input, button, .btn, .btn-default, .paginate_button, .page-link, .dt-button, .dropdown-item, .buttons-columnVisibility{
  border-radius: 0.4em !important;
  border: 0.2em solid black !important;
  background-image: linear-gradient(to bottom right, #C39EA0, #F8E5E5) !important;
  color: black !important;
}


.active{
  border-radius: 0.4em !important;
  border: 0.2em solid black !important;
  background-image: linear-gradient(to bottom right, #C39EA0, #F8E5E5) !important;
  color: black !important;
  font-weight: bold !important;
}


.dropdown-menu{
  background-color: transparent !important;
}
.page-link{
  border-color: transparent !important;
  border: none !important;
}

table{
    border-radius: 0.4em !important;
    border: 0.2em solid black !important;
    background-image: linear-gradient(to bottom right, #C39EA0, #F8E5E5) !important;

}

/*Barra Lateral*/

.nav, .sidebar, .sidebar-mini, footer{
  background-color: #000 !important;
}

.navbar{
  background-color: #C39EA0 !important;
}

.user-header, .bg-primary{
  background-color: #FA255E !important;
}


.user-footer{
  background-color: #C39EA0 !important;

}


.textoCaixa{

  border: 0.2em solid black;

}

.titulo{
  margin-bottom: 0.2em;
}

body, .content-wrapper{
  background-color: #F8E5E5 !important;

}

.card{
  box-shadow: inset 0 0 1em #FA255E, 0 0 1em #FA255E;
  border-radius: 1.2em;
  border: 0.3em solid black;
  background-color: #FA255E;
}

.card-body{
  background-color: #FA255E;
  border-radius: 0.9em;
}

label, .textoNormal{
    font-weight: bold !important;
  color: #000;
}


h1{
  font-size: 3em !important;
}
.wordart, h1 {
  font-family: Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wordart.purple {
    transform: skew(0, -10deg) scale(1, 1.5);
    -webkit-transform: skew(0, -10deg) scale(1, 1.5);
    -moz-transform: skew(0, -10deg) scale(1, 1.5);
    -o-transform: skew(0, -10deg) scale(1, 1.5);
    -ms-transform: skew(0, -10deg) scale(1, 1.5);
}

.wordart.purple .text, h1 {
    letter-spacing: -0.01em;
    font-family: Impact;
    background: #C39EA0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #C39EA0 0%, #F8E5E5 73%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C39EA0), color-stop(73%, #F8E5E5));
    background: -webkit-linear-gradient(top, #C39EA0 0%, #F8E5E5 73%);
    background: -o-linear-gradient(top, #C39EA0 0%, #F8E5E5 73%);
    background: -ms-linear-gradient(top, #C39EA0 0%, #F8E5E5 73%);
    background: linear-gradient(to bottom, #C39EA0 0%, #F8E5E5 73%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C39EA0', endColorstr='#F8E5E5', GradientType=0);
    -webkit-text-stroke: 0.03em #000;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#b28ffd, Strength=1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}